body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #ff3366;
  font-weight: 900;
  margin: 30px auto;
  text-align: center;
}

h6 {
  color: darkslateblue;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

p {
  text-align: center;

  color: #ff3366;
}
h5 {
  color: grey;
}

strong {
  color: darkslateblue;
  font-size: 20px;
}

li {
  list-style: none;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  color: rgba(36, 2, 37, 0.781);
}

.weather-app {
  max-width: 800px;
  border: 2px solid #ab47bc;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}

.temperature {
  font-size: 30px;
  position: relative;
  top: -22px;
  margin-left: 10px;
  color: rgba(36, 2, 37, 0.781);
}

.fa-cloud-showers-heavy {
  font-size: 60px;
  color: rgb(55, 77, 163);
}

.fa-cloud-sun-rain {
  font-size: 60px;
  color: rgb(158, 140, 52);
}
.fa-sun {
  font-size: 60px;
  color: orangered;
}
.weather-details {
  line-height: 12px;
  margin-top: 30px;
  color: rgba(49, 6, 85, 0.801);
}
.units {
  position: relative;
  top: -32px;
}

.weather-temperature {
  text-align: right;
}
